*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.title h1{
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url("https://raw.githubusercontent.com/cedchate/lab-css-recipes-clone/master/apple-pie/images/apple-pie.jpg");
    background-size: cover;    
}

#intro{
display: flex;
justify-content: center;
font-size: 120%;
}
.title img{
    width:100%
    position: relative;
    top:0;
}
.img{
    display: flex;
    justify-content: center;
    border-bottom: thin solid gray;
}
img{
width: 50%;
}

body>*{
    padding: 0 15%;
    margin-bottom: 2rem;
}
.title{
    padding:0;
}
h2{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
h1{
    color: white;
    font-size: 3rem;
}
ul{
    list-style: "-";
}
ol {
    /* 1. Remove the default list style */  
    list-style: none;
  }
  
  ol > li {
    /* 2. Create a custom list counter */  
    counter-increment: listcounter;
  }
  
  ol > li::before {
    /*3. Set the new style for the list markers */
    content: counter(listcounter) ") ";
  }